<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <title>Layout 2</title>
        <link href="css/style.css" type="text/css" rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>



    <body>
    
<!---------------DEBUT BOITE ROUGE-------------------------------------------------------------->
        <header>
             <h1>Responsive</h1>
        </header>  
<!---------------FIN BOITE ROUGE---------------------------------------------------------------->         
           
           
<!---------------DEBUT BOITE JAUNE--------------------------------------------------------------> 
        <div class="conteneur1">
            <nav>
                <ul>
                    <li><a href="#">Menu 1</a>
                        <ul>
                            <li><a href="#">Menu 1 a</a></li>
                            <li><a href="#">Menu 1 b</a></li>
                            <li><a href="#">Menu 1 c</a></li>
                        </ul>
                    </li>
                  
                    <li><a href="#">Menu 2</a>
                        <ul>
                            <li><a href="#">Menu 2 a</a></li>
                            <li><a href="#">Menu 2 b</a></li>
                            <li><a href="#">Menu 2 c</a></li>
                        </ul>
                    </li>
                  
                    <li><a href="#">Menu 3</a>
                        <ul>
                            <li><a href="#">Menu 3 a</a></li>
                            <li><a href="#">Menu 3 b</a></li>
                            <li><a href="#">Menu 3 c</a></li>
                        </ul>
                    </li>
                        
                </ul>
            </nav>
        </div>     
<!---------------FIN BOITE JAUNE-------------------------------------------------------------->  
           
           
            
            
        <div class="conteneur2">
<!---------------DEBUT BOITE VERTE------------------------------------------------------------> 
            <article>
                <div class="howto">
                    <h2>How to use</h2>
                    <p>Ever wondered what the difference between Adaptive, Responsive, Static and Liquid sites is? Had someone try and explain it only to be left more confused?</p><br>
                    <p>Pick a flavor from the drop down on the top of the page then drag your window narrower and wider, taller and shorter. It will make much more sense when you see for yourself how the approach works.</p>
                </div>  
                                   
                <hr>
                                                                                                                   
                <div class="responsive">  
                    <img id="layout" src="images/layout.gif" alt="3 colonnes">  
                    <img id="layout2"  src="images/layout2.gif" alt="2 colonnes">  
                    <img id="layout3" src="images/layout3.gif" alt="1 colonne">        
                    <h2>Responsive</h2>                     
                    <p>Responsive is characterized by having defined layoufor different resolutions.Within each layout, tdesign is liquid and resizes the width of elements relative to the changing window size.</p><br>             
                    <p>You can think of Responsive as a series of <a href=#>Liquid</a> layouts.</p>       
                </div>
                                               
                <hr>
                                             
                <div class="profiles">
                    <img class="inconnu" src="images/photo.jpg" alt=""/>                    
                    <h3>Title</h3>
                    <p class="grey">Month dd, yyyy</p>
                    <p>Content content content content content content content content content content content content content content content content</p><br>
                    <a href="">Link</a>
                </div>
                                            
                                             
                <div class="profiles">
                     <img class="inconnu" src="images/photo.jpg" alt=""/>                    
                     <h3>Title</h3>
                     <p class="grey">Month dd, yyyy</p>
                     <p>Content content content content content content content content content content content content content content content content</p><br>
                     <a href="">Link</a>                       
                </div>
                                               
                <div class="profiles">
                    <img class="inconnu" src="images/photo.jpg" alt=""/>                       
                    <h3>Title</h3>
                    <p class="grey">Month dd, yyyy</p>
                    <p>Content content content content content content content content content content content content content content content content</p><br>
                    <a href="">Link</a>                        
                </div>
                                               
                <div class="profiles">
                    <img class="inconnu" src="images/photo.jpg" alt=""/>                       
                    <h3>Title</h3>
                    <p class="grey">Month dd, yyyy</p>
                    <p>Content content content content content content content content content content content content content content content content</p><br>
                    <a href="">Link</a>
                                
                </div>
                                                
                <div class="profiles">
                    <img class="inconnu" src="images/photo.jpg" alt=""/>                    
                    <h3>Title</h3>
                    <p class="grey">Month dd, yyyy</p>
                    <p>Content content content content content content content content content content content content content content content content</p><br>
                    <a href="">Link</a>                 
                </div>              
            </article>  
<!---------------FIN BOITE VERTE--------------------------------------------------------------->         
    
    
<!---------------DEBUT BOITE BLEU-------------------------------------------------------------->                
            <aside> 
               <div class="asidebox">
                <div class="asidet">
                    <h3>Title</h3>
                    <p class="grey">Month dd, yyyy</p>
                    <p>Summary summary summary summary summary summary</p><br>
                    <a href="">Link</a>
                </div>
                        
                <div class="asidet">
                    <h3>Title</h3>
                    <p class="grey">Month dd, yyyy</p>
                    <p>Summary summary summary summary summary summary</p><br>
                    <a href="">Link</a>
                </div>
                            
                <div class="asidet">
                    <h3>Title</h3>
                    <p class="grey">Month dd, yyyy</p>
                    <p>Summary summary summary summary summary summary</p><br>
                    <a href="">Link</a>
                </div>
                        
                <div class="asidet">
                    <h3>Title</h3>
                    <p class="grey">Month dd, yyyy</p>
                    <p>Summary summary summary summary summary summary</p><br>
                    <a href="">Link</a>
                </div>
                         
                <div class="asidet">
                    <h3>Title</h3>
                    <p class="grey">Month dd, yyyy</p>
                    <p>Summary summary summary summary summary summary</p><br>
                    <a href="">Link</a>
                </div>
            </div>
            </aside>   
<!---------------FIN BOITE BLEU---------------------------------------------------------------> 
        </div>

              
              
<!---------------DEBUT BOITE VIOLETTE--------------------------------------------------------->      
        <footer>
            <p>Built by <a href="http://www.digitaria.com/blogs/authors/nicholas-davison" title="Blog">Nicholas Davison</a> for <a href="http://www.digitaria.com" title="Digitaria's Company Website">Digitaria</a></p>
            <p>©Copyright <a href="http://www.digitaria.com" title="Digitaria's Company Website">Digitaria</a>.</p>
        </footer>
<!---------------FIN BOITE VIOLETTE----------------------------------------------------------->
           
    </body>
    
</html>
